.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.rhythm-creation-div {
  display: none;
}

.add-text-div {
  display: none;
}

.begin-measure-creation {
  display: none;
}

.section-creation-div {
  display: none;
}


