<% song.sections.each do |section| %>
  <div class="display-section">
    <h5> <%= section.section_type %> by <%= section.artist.name %></h5>
    <%= erb :'/partials/section-header', layout: false %>
    <% section.measures.each do |measure| %>
      <%= erb :'/partials/show-measure', locals: { measure: measure }, layout: false %>

    <% end %>
  </div>
<% end %>


