<div>
  <form action="/measures/<%= @measure.id %>/edit" method="POST" class="edit-measure">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="measure_id" value="<%= @measure.id %>">
    <div class="row">
      <% @measure.cells.each do |cell| %>
      <div class="col" style="width:<%= cell.note_duration/9.6 %>%">
        <textarea name="<%= cell.id %>"></textarea>
      </div>
    <% end %>
    </div>
    <br>
    <input type="submit">
  </form>
</div>
