<div class="row">
  <div class="large-5 large-centered columns">
    <div class="input-box">
      <div class="small-12 columns">
        <h3 class="text-centered">Change Password</h3>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= form_tag( current_user, { method: :put, "data-abide": "", "novalidate": "" } ) do %>
            <div class="small-12 columns">
              <% if flash[:error] %>
                <div class="callout warning">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label>Old Password
                <input name="old-password" type="password" aria-describedby="exampleHelpText" required pattern:"alpha_numeric">
              </label>
            </div>

            <div class="small-12 columns">
              <label>New Password Required
                <input name="new-password" type="password" id="new-password" aria-describedby="exampleHelpText" required pattern:"alpha_numeric">
                <span class="form-error">
                  I'm required!
                </span>
              </label>
            </div>

            <div class="small-12 columns">
              <label>Re-enter New Password
                <input name="new-password-confirmation" type="password" aria-describedby="exampleHelpText2" required pattern="alpha_numeric" data-equalto="new-password">
                <span class="form-error">
                  Passwords did not match!
                </span>
              </label>
            </div>

            <!-- refactor add password confirmation -->
            <div class="small-12 columns">
              <button class="button" type="submit" value="Change Password">Change Password</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
