<div class="container">
  <h1>Sign up</h1>
  <form action="/users" method="POST">
    Username: <input type="text" name="username">
    <br>
    Password: <input type="password" name="password">
    <br>
    Confirm Password: <input type="password" name="confirmed_password">
    <br>
    <input type="submit">
  </form>
</div>
