<div class="attributes">
  <div class="button-group">
    <button class="secondary button hollow change-rhyme" value="" >No Rhyme</button>
  </div>

  <div class="button-group">
    <% Cell.colors.each do |color|  %>
      <button class="secondary button hollow change-rhyme" style="background-color: <%= color %>" value="<%= color %>Rhyme"><%= color %>Rhyme</button>
    <% end %>
  </div>

  <div class="button-group">
    <button class="secondary button hollow change-stress" value="stressed"><strong>Stressed Syllable</strong></button>
    <button class="secondary button hollow change-end-rhyme" value="end-rhyme"><em>End Rhyme</em></button>
  </div>
</div>