<div class="add-and-delete-measures">
  <button class="delete-measure">Remove Measure</button>
  <!-- refactor make both buttons add-measure and refactor add measure before and after into one ajax call -->
  <button class="add-measure-before" value="before">Add Measure Before Section</button>
  <button class="add-measure-after" value="after">Add Measure After Section</button>
</div>