<div class="attributes">
  <button class="add-quality" value="" >No Rhyme</button>
  <br>
  <!-- Eventually do each with index and store colors as numbers -->
  <% Cell.colors.each do |color|  %>
    <button style="color: <%= color %>" class="add-quality" value="<%= color %>Rhyme"><%= color %>Rhyme</button>
  <% end %>
  <br>
  <button class="add-quality" value="stressed">Stressed Syllable</button>
  <br>
  <button class="add-quality" value="end-rhyme">End Rhyme</button>
</div>