<div class="add-and-remove-cells">
  <button class="remove-cell">Remove Cell</button>
  <button class="add-cell" value="before">Add Cell Before</button>
  <button class="add-cell" value="after">Add Cell After</button>
</div>