<div class="add-and-remove-cells">
  <button class="remove-cell">Remove Cell</button>
  <button class="add-cell-before">Add Cell Before</button>
  <button class="add-cell-after">Add Cell After</button>
</div>