<div class="edit-song-box">
  <div class="row">
    <div class="small-10 columns">
      <%= render partial: "edit_lyrics" %>
    </div>
    <div class="small-2 columns">
      <a class="warning button close-edit-menu" href="#">Close Edit Menu</a>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <%= render partial: "add_attributes" %>
    </div>
    <div class="small-6 columns">
      <%= render partial: "edit_rhythm" %>
    </div>
  </div>
</div>
