<div class="row edit-lyrics-container">
  <div class="small-8 columns">
    <input type="text" name="lyrics" class="replacement-lyrics" placeholder="lyrics">
  </div>
  <div class="small-4 columns">
    <button class="button expand change-lyrics">Replace Lyrics</button>
  </div>
</div>