<div class="new-section-div">
  <h3>New Section Form</h3>
  <%= form_tag( {}, {class: 'new-section-form'}) do %>
    <input type="hidden" name="song-id" value="<%= @song.id %>">
    <!-- Right now there is only capability to add a section to the end of a song -->
    <input type="hidden" name="section-number" value="<%= @song.sections.count %>">
    <p>Section Type</p>
    <select name="section-type" class="section-type">
      <option value="Verse">Verse</option>
      <option value="Chorus">Chorus</option>
      <option value="Intro">Intro</option>
      <option value="Bridge">Bridge</option>
      <option value="Outro">Outro</option>
      <option value="Other">Other</option>
    </select>
    <br>

    <p>Measures in Section</p>
    <input type="number" name="measures-in-section"
       min="0" max="128" step="1" value="16">
    <br>

    <p>Number of pickup measures</p>
    <select name="pickup-measures">
      <option value="1"selected="selected">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <br>

    <p>Measures per phrase</p>
    <select name="measures-per-phrase">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4" selected="selected">4</option>
      <option value="8">8</option>
    </select>
    <br>

    <p>Beats per measure</p>
    <select name="beats-per-measure">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4" selected="selected">4</option>
    </select>
    <br>

    <p>Beat subdivison</p>
    <select name="beat-subdivision">
      <option value="8">8</option>
      <option value="16" selected="selected">16</option>
      <option value="32">32</option>
      <option value="12">12</option>
      <option value="24">24</option>
    </select>
    <br>

    <input type="submit" class="section-create">

  <% end %>
</div>