<h1>Edit Song</h1>
<%# form_for @song do |f| %>
  <div class="song-header">
    <h2><%= @song.name %></h2>
    <p><%= @artist_names %></p>
    <p><%= @song.album.title %></p>
  </div>

  <!-- <button id="selectable" class="ui-widget-content ui-selectee"></button> -->

  <div id="selectable">
    <button></button>
    <button></button>
    <button></button>
    <button></button>
  </div>

  <ul class="selectable">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
    <li>Item 5</li>
  </ul>

  <%# render partial: "new_section_form" %>

  <%# render partial: "add_section_button" %>

  <%# render partial: "add_attributes" %>

  <div class="song-edit">
    <%# render partial: 'edit_song_lyrics', locals: { song: @song } %>
  </div>

<%# end %>