<div>
  <form action="/songs" method="POST">
    Song: <input type="text" name="song">
    Artist: <input type="text" name="artist">
    Album: <input type="text" name="album">
    <input type="submit">
  </form>

  <form action="/"
</div>
