<div class="container">
  <div class="song-form">
    <form action="/songs" method="POST" class="create-song">
      Song: <input type="text" name="song">
      Artist: <input type="text" name="artist">
      Album: <input type="text" name="album">
      Spotify URI: <input type="text" name="spotify-uri">
      <input type="submit">
    </form>
  </div>
</div>
