<h1>Create A New Song</h1>
<%= form_tag('/songs', method: :post) do %>
  <p>Song Name</p>
  <input type="text", name="name">
  <br>
  <p>Artist</p>
  <input type="text", name="artist">
  <br>
  <p>Album</p>
  <input type="text", name="album">
  <br>
  <p>Measures per musical phrase</p>
  <input type="text", name="measures-per-beat-resolution" value="4">
  <br>
  <p>Beats per measure</p>
  <input type="text", name="beats-per-measure", value="4">
  <br>
  <p>Beat subdivison</p>
  <input type="text", name="beat-subdivision", value="16">
  <br>
  <!-- refactor rename -->
  <input type="submit">
<% end %>

