<div class="container">
  <div class="song-form">
    <form action="/songs" method="POST" class="create-song">
      Song: <input type="text" name="song">
      <br>
      Artist: <input type="text" name="artist-0">
      <br>
      <button class="add-artist">Add Artist</button>
      <br>
      Album: <input type="text" name="album">
      <br>
      Spotify URI: <input type="text" name="spotify-uri">
      <input type="submit">
    </form>
  </div>
</div>
