<div class="container">
  <h1>Rap Analysis Webapp Homepage</h1>

  <% if @current_user %>
    <a href="/songs/new"><button>Create A New Song</button></a>
    <a href="/logout"><button>Log out</button></a>
  <% else %>
    <a href="/users/new"><button>Sign up</button></a>
    <a href="/login"><button>Log in</button></a>
  <% end %>

  <ul>
    <% @songs.each do |song| %>
    <li>
      <%= song.name %> :: <%= song.artists.first.name %> :: <%= song.album.title %>
    </li>
    <% end %>
  </ul>

</div>
