/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 *= require jquery-ui/selectable
 */

/* temporarily disabled */
/*html {
  text-align: center;
}

@media (min-width: 30em) {
  .row { width: 100%; display: table; table-layout: fixed; height: 1.2em;}
  .col { display: table-cell; }
}*/

/*.container {
  margin: 0em;
  width: 70%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  margin: auto;
}


th {
  text-align: left;
}*/

.rhythm-creation-div {
  display: none;
}

.add-text-div {
  display: none;
}

.input-text-div {
  display: none;
}


.begin-measure-creation {
  display: none;
}

.section-creation-div {
  display: none;
}

.col textarea {
  width:100%;
}

.col button {
  width: 100%;
}

.col {
  outline:1px #000 solid;
}

.invalid {
  outline:1px red dotted;
}

/*.col {
    height: 4em;
    vertical-align: middle;
    line-height: 4em;
    background-color: teal;
}

.col:nth-of-type(2n) {
    background-color: #95cbcb;
}
*/
/*POOPY CSS.
I should make a constant that
is an association of colors and rhymes
And then use color instead of class*/

/*QUALITIES*/
.end-rhyme {
  font-style: italic;
}

.stressed {
  font-weight: bold;
}

/*RHYMES*/

.aquaRhyme {
  background-color: aqua;
}
.blueRhyme {
  background-color: blue;
}
.fuchsiaRhyme {
  background-color: fuchsia;
}
.orangeRhyme {
  background-color: orange;
}
.limeRhyme {
  background-color: lime;
}
.greenRhyme {
  background-color: green;
}
.maroonRhyme {
  background-color: maroon;
}
.navyRhyme {
  background-color: navy;
}
.oliveRhyme {
  background-color: olive;
}
.purpleRhyme {
  background-color: purple;
}
.redRhyme {
  background-color: red;
}
.tealRhyme {
  background-color: teal;
}
.yellowRhyme {
  background-color: yellow;
}