/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 *= require jquery-ui/selectable
 */

/* temporarily disabled */

@media (min-width: 30em) {
  .row { width: 100%; display: table; table-layout: fixed; height: 1.2em;}
  .col { display: table-cell; }
}

.extra-large-width{
  width: 110%;
}

.selectable .ui-selecting {
  background: #ccc;
}
.selectable .ui-selected {
  background: #999;
}

.input-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

.edit-song-box {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px 20px 5px 20px;
}

.new-section-div {
  background: #fff;
  border: 1px solid #ddd;
  padding: 40px 20px 0 20px;
}

.phrase-div {
  padding: 5px 0px 0px 0px;
}

.rhythm-creation-div {
  display: none;
}

.add-text-div {
  display: none;
}

.input-text-div {
  display: none;
}


.begin-measure-creation {
  display: none;
}

.section-creation-div {
  display: none;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  color: #C91912;
}

.main-logo {
  padding: 1em;
}

.change-rhyme {
  margin: 0.2em;
  border: none;
  width: 5em;
  height: 4em;
}

.col textarea {
  width:100%;
}

.col {
  outline:1px #000 solid;
}

.invalid {
  outline:1px red dotted;
}

.small-top-padding {
  padding-top: 1em;
}

.small-top-margin {
  margin-top: 1em;
}

/*.col {
    height: 4em;
    vertical-align: middle;
    line-height: 4em;
    background-color: teal;
}

.col:nth-of-type(2n) {
    background-color: #95cbcb;
}
*/
/*
I should make a constant that
is an association of colors and rhymes
And then use color instead of class
*/

/*QUALITIES*/
.end-rhyme {
  font-style: italic;
}

.stressed {
  font-weight: bold;
}

/*RHYME*/

 18 HEXs
/*no rhyme*/
[data-rhyme="0"] {
  background-color: #FFFFFF;
}
/*cat*/
[data-rhyme="1"] {
  background-color: #D54E33;
}
/*up*/
[data-rhyme="2"] {
  background-color: #CE973E;
}
/*boy*/
[data-rhyme="3"] {
  background-color: #63572F;
}
/*shoot*/
[data-rhyme="4"] {
  background-color: #C9D645;
}
/*ship*/
[data-rhyme="5"] {
  background-color: #588A39;
}
/*sheep*/
[data-rhyme="6"] {
  background-color: #6CD85A;
}
/*here*/
[data-rhyme="7"] {
  background-color: #B5D392;
}
/*bed*/
[data-rhyme="8"] {
  background-color: #527C6A;
}
/*bird*/
[data-rhyme="9"] {
  background-color: #7DD9C2;
}
/*good*/
[data-rhyme="10"] {
  background-color: #86B1D1;
}
/*far*/
[data-rhyme="11"] {
  background-color: #595675;
}
/*on*/
[data-rhyme="12"] {
  background-color: #776FCC;
}
/*my*/
[data-rhyme="13"] {
  background-color: #D29AC4;
}
/*door*/
[data-rhyme="14"] {
  background-color: #D053CD;
}
/*cow*/
[data-rhyme="15"] {
  background-color: #903C79;
}
/*wait*/
[data-rhyme="16"] {
  background-color: #D74D76;
}
/*show*/
[data-rhyme="17"] {
  background-color: #CCA18C;
}
/*hair*/
[data-rhyme="18"] {
  background-color: #8F4236;
}